
<h1>Mourning Coup - Master</h1>
<h2>Winner of three VERY large awards: </h2>

<h4>AN ELEPHANT + 1 GALLON JUG OF WATER + A SKYSCRAPER</h4>

<iframe class="playingWithFire" width="853" height="480" src="https://www.youtube.com/embed/B_IZt_uMxJ4?autoplay=1" frameborder="0" allowfullscreen></iframe>
<br/><br/><br/>
<h1>AWARDS</h1>


    <ul id="awards">

    <li><img src="http://i.imgur.com/x30Og7I.jpg" ></li>
    <li><img src="http://i.imgur.com/mhCnvAj.jpg" ></li>
    <li><img src="http://i.imgur.com/dtTdmKG.jpg" ></li>
    </ul>

    <img src="http://i.imgur.com/qXKvjNm.gif" class="award corner1"></img>
    <img src="http://i.imgur.com/qXKvjNm.gif" class="award corner2"></img>
